# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Operating System Files
.DS_Store
Thumbs.db

# IDE and Editor settings
.vscode/
.idea/
*.swp

# Virtual Environments
venv/
env/
ENV/

# Distribution / Packaging
build/
dist/
*.egg-info/